<html>
<head>
  <meta http-equiv="refresh" content="1" >
</head>
<body>
<h3>Updated At: <%=Time.now.strftime('%H:%M:%S')%></h3>

<p>purchase id:  <%=@purchase.id%></p>
<p>conversion order id:  <%=@conversion_order.id%></p>
</body>
</html>